<!DOCTYPE html>
<html lang="en">
<!-- TODO: fix the div layout to look normal -->

 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AWESOME APP</title>

    <!-- CSS
	=======================
	-->
    
    <!-- <link rel="stylesheet" href="static/login.css" type="text/css"> -->

    <link href="static/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css">


  <!-- Main 
  =======================
  -->
  <body>

        <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">AWESOME APP</a>
<!--       <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#about-modal">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#feedback-modal">Feedback</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li> 
        </ul>
      </div> -->
    </nav>


    <div class="container">

      <div class="row">
        
		    <div class="col-lg-12">
            <span>Symbol: </span> 
            <div id ="search" style = "width:200px"></div>
    		</div>

    </div><!-- /.container -->

    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center"> <h2>Tomorrow's Expected Close</h2>
          <div class='distribution-chart ct-major-seventh'></span>
        </div>

    </div><!-- /.container -->



  </body>

        <!-- Javascript 
  =======================
  -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
      <script type="text/javascript" src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js"></script>
    <script type="text/javascript" src ="static/chart.js"></script>

  </head>

</html>



